<!DOCTYPE html>
<html>
<head>
  <title>Andrew's Sound Manager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" <%= link_to(image_tag("asm_logo_head_note.png", :alt => "asm logo"), root_path: 'entries') %> </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Song Titles", entries_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
        <div class="container">
          <div class="row">
            <div class="span12"><%= yield %></div>
            </div>
          <div class="footer">
              <div class="row">
                <div class="span12"></div>
                Copyright 2014. Andrew's Sound Manager. All Rights Reserved.
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
  </div>
</div>
</body>
</html>